* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333333;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif; 
}
/*==layout==*/
h2 {
  font-size: 1.85em;
  font-weight: 400;
  margin-bottom: 1.2em;
}

p {
  margin: 1em 0;
}

.container {
  width: 69%;
  max-width: 690px;
  padding: 2em .5em;
  border: 1px solid grey;
  background-color: #2f4f4f;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em auto;
}

.move-icon {
  width: 35px;
  text-align: center;
}

.move-btn {
  background-color: transparent;
  border: 3px solid #fff;
  width: 120px;
  height: 120px;
  margin-right: .5em;
  border-radius: 50%;
  transition: .5s;
  cursor: pointer;
}

.result {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 1.5em;
  border: 1px solid red;
}

.message {
  margin: 2em 0;
  border: 1px solid red;
}

.score-msg {
  margin-bottom: 2em;
}

.reset-button {
  font-size: 1rem;
  font-weight: 700;
  padding: .5em 1em;
  background-color: #fff;
  color: #2f4f4f;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s;
}
.reset-button:hover {
  background-color: #6494a9;
  color: #fff;
}
.reset-button:focus {
  background-color: #8ab6c4;
  color: #fff;
}
/*==media queries==*/
@media (max-width: 550px) {
  h2 {
    font-size: 1em;
  }
  .container {
    margin-top: 3em;
    width: 76%;
  }
  .move-btn {
    width: 60px;
    height: 60px;
  }
  .flex-wrap {
    display: flex;
  }
}